<div style="margin: 35px">
    <!--<span>This is the current file content: </span>-->
    <!--<label data-field="content-label"></label>-->

    <!--<br/>-->
    <!--<br/>-->
    <!--<input type="text" data-field="content-input" placeholder="Type new content here in Caio's file format">-->


    <div class="form-group row">
        <label class="col-2 col-form-label" for="current-content">This is the current file content:</label>
        <div class="col-10">
            <textarea class="form-control" id="current-content" rows="3" readonly></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label for="new-content" class="col-2 col-form-label">Type new content here in Caio's file format</label>
        <div class="col-10">
            <textarea class="form-control" id="new-content" rows="3"></textarea>
        </div>
    </div>

</div>